$color-white: #fff;
$color-333: #333;
$color-666: #666;
$color-777: #777;
$color-999: #999;
$color-000: #000;
$color-f49d9d : #f49d9d;
$color-f66363 : #f66363;
$color-909090 : #909090;
$color-3691ca : #3691ca;
$color-169c2c : #169c2c;
$color-d8 : #d8d8d8;
$color-e2 : #e2e2e2;
$primary-light-color : #EA2331;
$primary-dark-color : #43264E;
$color-f34f4f : #f34f4f;
$color-4d264c : #4d264c;
$color-3f2c4e : #3f2c4e;
$color-f2 : #f2f2f2;
$color-9c: #9c9c9c;
$color-op: rgba(226, 226, 226, 0.22);
$color-f5: #f5f5f5;
$color-ff: rgba(243,78,78,0.38);
$color-88: #888;
$color-df : #dfdfdf;
$color-d1: #d1d1d1;
$color-cc: #ccc; 
$color-ea: #eaeaea;
$color-week: #f7f7f7;
$color-ee: #eeeeee;
$color-dd: rgba(0,0,0,0.2);
$color-f3: #f3f3f3;
$color-smartred :#df7473;
$color-smartgreen :#23bf8c;
$color-smartblue :#3893cb;
$color-c8:#c8c8c8;
$color-nearby-icon: #5e7eca;
$color-3d: #3d478d;
$color-e2-op: rgba(226,226,226,0.77);
$color-near: rgba(70, 70, 70, 0.5);
$color-red :#ea2330;
$color-f8 : #f8f8f8;
$yatra-assure :#72E485;
$yatra-assure-plane :#36C24D;
$color-fc: #fcfcfc;
$color-dark: rgba(166,166,166,0.5);
$color-c9 : #c9c9c9;
$color-67:#676767;
$color-bullet: rgba(255,255,255,0.55);
$color-box: rgba(0,0,0,0.5);
$color-tipsy-point : #cdcecf;
$color-d2 :#d2d2d2;
$color-darkblue-header :#301b41;
$color-97: #979797;
$color-price-head: #F9F9F9;
$color-fa: #fafafa;
$color-ca: #cacaca;
$color-link-hover :#256d9a;
$color-sponsored : #354cac;
$color-8a :#8a8a8a;
$color-fd:#FDFBFB;
$color-E5 : #E5E7EB;
$color-e4 : #e4e4e4;
$color-bf : #bfbfbf;
$color-orange : #FFBB49;
$color-shadow-red :#ffa2a2;
$color-yellowmsg :#fffdd5;
$color-active-container : #f2f5fd;
$color-2e :#2e2e2e;